body{
    font-family: 'Roboto', sans-serif;
    color: #4b6b44;
	margin: 0;
}

h1{
	font-family: 'Dancing Script', cursive;
}

h2,h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin:0;

}

.button{
    color:#ffffff;
    color: #f1f1f1;
	text-decoration: none;
	padding: 10px 30px;
	background-color: #8B73FF;
	font-size: .9em;
	border-radius: 7px;
}

.button-contato{
    color:  #E86AA7;
	text-decoration: none;
	padding: 10px 30px;
	background-color:#ffffff;
	font-size: .9em;
	border-radius: 7px;

}


nav{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #E1A3FF;
}

nav > a {
	text-decoration: none;
	color: #f1f1f1;
	font-weight: bold;
	font-size: 28px;
	font-family: 'Roboto', sans-serif;
}


nav ul{
	
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	list-style: none;
	
}

nav ul li{
	text-align: center;
	width: 100%;
	padding: 1%;
	list-style: none;	
	
}

nav ul li a{ 
	display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: #f1f1f1;
}

nav ul :hover { 
    background-color: #8B73FF;
}

header {
	background-image:url('images/fundo.jfif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #f1f1f1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding:20px;
}

header p{
	margin-bottom: 2em;
}

/* Sobre */
#sobre{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0 20px 20px;
	background-color: #E1A3FF;
	color: #f1f1f1;
}
